.time_counter{
    background-color: #032901;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 0 5px;
    font-size: 14px;
    margin-right:3px;
}
.tender_card_header .time_counter{
    // background: transparent !important;
}
.content-wrapper{
    background: #fefbff;
}
.main-sidebar{
  background: #032901;
}
.main-header{
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  background: #032901;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link{
  color: #fff;
  font-size: 20px;
  line-height: initial;
}
.brand-link{
    border-bottom:1px solid #52dcbc;
    color: #fff;
    text-align: center;
    padding: 13px .5rem !important;
}
.brand-link.open.active{
  background: #5279dc;
  color: #fff;
  text-align: center;
}
.card{
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border: none;
}
.card_with_tabs{
    border: none;
    box-shadow: none;
}
.card_with_tabs .card-header{
    border: none;
}
.card_with_tabs .card-header.tabCard{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.card_with_tabs .card-header .passport_tab{
    position: relative;
    width: 100%;
}
.card_with_tabs .card-header .passport_tab .nav.nav-tabs  a{
    position: relative;
    padding: 0 15px;
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9CA1AB;
    text-decoration: none !important;
}
.card-body{
    overflow: auto;
}
.card_with_tabs .card-header .passport_tab .nav.nav-tabs  a.active{
    color: #032901;
}
.card_with_tabs .card-header .passport_tab .nav.nav-tabs  a.active::after{
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    height: 4px;
    background: #032901;
    border-radius: 4px;
    z-index: 1;
}
.card_with_tabs .card-header .passport_tab::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    background: #EBEFF5;
    border-radius: 2px;
    height: 2px;
}
.table thead th{
    border-bottom: 2px solid #032901;
}

.peIcon.pe-7s-back{
    color:black;
}
.peIcon{
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 33px;
  font-size: 22px;
  transition: color 300ms;
  color: #032901;
}
.nav-sidebar .nav-item>.nav-link .peIcon{
    color: #fff;
}
.nav-sidebar .nav-item>.nav-link{
  display: flex;
  align-items: center;
  transition-delay: 300ms;
}
.nav-pills .nav-link {
    color: #fff;
    font-weight:bold;
}
.nav-pills .nav-link:not(.active):hover, .nav-pills .nav-link:not(.active):hover .peIcon,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  color: #fff;
  background: #487b4c !important;
  font-weight: bold;
  font-weight: bold;
}
.nav-sidebar .nav-treeview{
  transition: padding 300ms;
  padding: .5em 0 0 2rem;
  position: relative;
}
.nav-sidebar .nav-treeview::before{
  content: '';
  height: 100%;
  opacity: 1;
  width: 3px;
  background: #52dcbc;
  position: absolute;
  left: 32px;
  top: 0;
  border-radius: 15px;
}
.nav-sidebar .menu-open > .nav-link{
  font-weight: bold;
}
.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right {
  position: absolute;
  right: 1rem;
  top: 18px;
}
.table th, .table td {
    padding: 0.25rem;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    vertical-align: middle;
    border-top: 1px solid #032901;
}
.table-bordered th, .table-bordered td{
    border: 1px solid #032901;
}
.table-hover tbody tr:hover{
    background-color: #e0f3ff;
}
.btn_transparent{
    background:transparent;
    border: none;
    font-size: 24px;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 0;
}
.title_user{
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;

}
.card-header{
    display: flex;
    background-color: #fefbff;
    justify-content: space-between;
    align-items: center;
}
.card-header .title_user .peIcon{
    font-size: 30px;
    margin-right: 10px;
}
.btn-danger,
.btn-info{
    height: 35px;
}
.logout_btn{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 20px;
    height: 35px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}
.logout_btn:hover{
    color: #75d0c0;
    border: 1px solid #fff;
    background: #fff;
    text-decoration: none;
}
.btn:hover {
    color: #75d0c0 !important;
    background: black !important;
    border: 1px solid black !important;
}
.btn:hover .peIcon.pe-7s-back{
    color:#75d0c0;
}
.btn.btn-primary.back_btn.active,
.btn.btn-primary{
    color: white;
    background: #032901;
    border: 1px solid #032901;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 0px 20px;
    height: 38px;
    display: flex;
    align-items: center;
}
.btn.btn-primary.back_btn.active i,
.btn.btn-primary i{
    margin-right: 5px;
}
.btn-outline-info{
    border: 1px solid #032901;
    color: #032901;
}
.btn-outline-info i{
    color: #032901;
}
.btn.btn-primary span{
    width: auto;
    height: auto;
    line-height: normal;
    font-size: 18px;
}
.btn.btn-primary i{
    font-size: 12px;
}

.card-header::after{
    display: none;
}
.lognCard{
    margin-bottom: 0;
    height: 100vh;
    width: 100%;
    border: none;
}
.login-card-body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.circle_bg{
    position: absolute;
    top: 0;
    right: -50vh;
    bottom: 0;
    width: 100vh;
    height: 100vh;
    background-color: #75d0c0;
    z-index: 0;
    border-radius: 50%;
    opacity: 1;
}
.circle_bg_scaled{
    position: absolute;
    top: 0;
    right: -50vh;
    bottom: 0;
    width: 100vh;
    height: 100vh;
    background-color: #75d0c0;
    z-index: 0;
    border-radius: 50%;
    opacity: .7;
    transform: scale(1.3);
}
.circle_bg_scaled_2{
    position: absolute;
    top: 0;
    right: -50vh;
    bottom: 0;
    width: 100vh;
    height: 100vh;
    background-color: #75d0c0;
    z-index: 0;
    border-radius: 50%;
    opacity: .5;
    transform: scale(1.6);
}

.auth_tab_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.auth_tab_block .nav-tabs{
    width: 500px;
    justify-content: space-around;
}
.auth_tab_block  .nav-tabs .nav-link{
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: #e2e2e2;
    font-size: 20px;
}
.auth_tab_block  .nav-tabs .nav-link.active,
.auth_tab_block   .nav-tabs .nav-item.show .nav-link{
    border-color: #6dccc1;
    color: #6dccc1;
}
.form_content{
    position: relative;
    z-index: 1;
    width: 500px;
    padding: 30px 30px 30px 30px ;
}
.form_content.auth_request{
    width: 700px;
}
.form_content.auth_request form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.login_alert{
    width: 500px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff3c3c;
    color: #ff3c3c;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    padding: 8px 20px;
    border-radius: 4px;
}
.login_title{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #75d0c0;
    text-align: center;
    margin-bottom: 30px;
}
.btn-block{
    background: #5d72a0;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    border: none;
    height: 46px;
}
.form-control{
    background: #FFFFFF;
    border: 1px solid #032901;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
    height: 35px;
}
.login-card-body .input-group .form-control:focus~.input-group-append .input-group-text, .register-card-body .input-group .form-control:focus~.input-group-append .input-group-text,
.form-control:focus{
    border-color:#75d0c0;
}
.input-group-text{
    border-color: #D4E2F5;
}
.input-group{
    margin-bottom: 30px;
}
.form-control:focus{
    box-shadow: none;
}
.input_style{
    min-height: 32px;
    height: auto;
}
.input_style.disabled{
    min-height: 32px;
    height: auto;
    background-color: #F8F8F8;
    margin: 0px;
}
.form_btn{
    display: flex;
    align-items: flex-end;
}
.redText{
    color:red;
}
.pe-7s-menu{
    color: #fff;
}
.btn-primary:focus,
.btn-primary.focus{
    box-shadow: none;
}
.isRequired{
    border-color: red !important;
}
.radio_style_input{
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 0;
}

.radio_style_label{
    font-size: 18px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    z-index: 1;
}
.radio_style_label::before{
    content: '';
    height: 25px;
    width: 25px;
    border: 1px solid #00236D;
    border-radius: 4px;
    display: block;
    margin-right: 10px;
}
.radio_style_label::after{
    content: '';
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #00236D;
    border-radius: 4px;
    display: block;
    margin-right: 10px;
    border-radius: 4px;
    transform: scale(0);
    background: #00236D;
    transition: .5s;
}
.radio_style_block{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}
.radio_style_input:checked + .radio_style_label:after{
    transform: scale(0.7);
}
.test_header{
    display: flex;
    justify-content: space-between;
}
.test_pogination_responsive{
    overflow-x: auto;
    width: 100%;
    margin: 30px 0;
    position: relative;
    height: 80px;
}
.test_pogination_responsive::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  .test_pogination_responsive::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }

  /* Handle */
  .test_pogination_responsive::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0);
  }

  /* Handle on hover */
  .test_pogination_responsive::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0);
  }
.test_pogination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 100%;
    overflow: visible;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.test_pogination li{
    background: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-radius: .25rem;
    min-width: 50px;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
    flex-direction: column;
    margin-right: 15px;
    font-size: 20px;
    color: #3f6ad8;
}
.test_pogination li.active{
    background: #3f6ad8;
    color: #fff;
}
.test_pogination li.active p{
    color: #fff;
}
.test_pogination li p{
    margin-bottom: 0;
    line-height: 26px;
    color: #000;
}
.test_pogination li:last-child{
    margin-right: 0;
}
.test_question_block{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    background: #fff;
    width: 100%;
    height: auto;
    padding: 30px;
    font-size: 20px;
    border-radius: 6px;
}
.test_answers_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.test_answers_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 0;
}
.input_radio_block{
    font-size: 20px;
    width: 49.2%;
    margin-top: 30px;
    position: relative;
}
.test_answers_list li{
    position: relative;
    list-style: none;
}
.test_answers_list li:before{
    position: absolute;
    top: 20%;
    left: 15px;
}
.test_answers_list li:hover:before{
    color: #fff;
}
.test_answers_list li:nth-child(1)::before { content: 'A)'; }
.test_answers_list li:nth-child(2)::before { content: 'B)'; }
.test_answers_list li:nth-child(3)::before { content: 'C)'; }
.test_answers_list li:nth-child(4)::before { content: 'D)'; }
.test_answers_list li:nth-child(5)::before { content: 'E)'; }
.test_answers_list li:nth-child(6)::before { content: 'F)'; }
.test_answers_list li:nth-child(7)::before { content: 'G)'; }
.test_answers_list li:nth-child(8)::before { content: 'H)'; }
.test_answers_list li:nth-child(9)::before { content: 'I)'; }
.test_answers_list li:nth-child(10)::before { content: 'J)'; }
.test_answers_list li:nth-child(11)::before { content: 'K)'; }
.test_answers_list li:nth-child(12)::before { content: 'L)'; }
.input_radio_block input{
    position: absolute;
    opacity: 0;
    z-index: 0;
}
.input_radio_block label{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    background: #fff;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    padding: 15px 30px 15px 40px;
    cursor: pointer;
    transition: 0.5s;
    line-height: 20px;
    margin: 0px;
}
.input_radio_block input:checked + label{
    background: #3f6ad8;
    color: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,.15);
}
.input_radio_block label:hover{
    background: #3f6ad8;
    color: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,.15);
}
.answers_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.answers_buttons button{
    cursor: pointer;
}
.btn_prev{
    padding: 10px 40px;
    border: 1px solid transparent;
    background: #3f6ad8;
    color: #fff;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.btn_finish span,
.btn_prev span{
    margin-right: 5px;
    display: block;
    font-size: 30px;
    margin-top: 3px;
}
button:disabled{
    opacity: .8;
    cursor: not-allowed;
}
.btn_finish,
.btn_next{
    padding: 10px 40px;
    border: 1px solid transparent;
    background: #3f6ad8;
    color: #fff;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.btn_next span{
    margin-left: 5px;
    display: block;
    font-size: 30px;
    margin-top: 3px;
}
// timer
.for_guest{
    position: relative;
}
.base-timer {
  position: absolute;
  top: -20px;
  right: 0px;
  width: 80px;
  height: 80px;
}
.base-timer__svg {
  transform: scaleX(-1);
}
.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}
.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.base-timer__path-remaining.blue {
  color: #3f6ad8;
}
.base-timer__path-remaining.orange {
  color: orange;
}
.base-timer__path-remaining.red {
  color: red;
}
.base-timer__label {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.pr-100{
    padding-right: 100px;
}
  // timerend
.user_info_result{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.result_test.user_info_result li{
    width: calc(100% / 3 - 15px);
}
.user_info_result li{
    width: calc(100% / 4 - 15px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    list-style: none;
    background: #fff;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 4px;
}
.user_info_result li:nth-child(4){
    margin-right: 0px;
}
.user_info_result li:nth-child(8),
.user_info_result li:nth-child(6),
.user_info_result li:nth-child(3),
.user_info_result li:nth-child(1){
    background: #edf2ff;
    color: #3f6ad8;
}
.result_quelstion_item{
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
    border-bottom: 2px solid #3f6ad8;
    margin-bottom: 0;
}
.result_test_item{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #fff;
}
.result_test_item_variants{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}
.result_test_item_variants li{
    border: 1px solid transparent;
    width: 25%;
    padding: 15px 15px 15px 40px;
    font-size: 16px;
    position: relative;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
}
.result_test_item_variants li:nth-child(4n){
    border-right-color: transparent;
}
.result_test_item_variants li.mistakeAnswer{
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    font-weight: bold;
}
.result_test_item_variants li.correctAnswer{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-weight: bold;
}
.result_test_item_variants li:before{
    position: absolute;
    top: 15px;
    left: 15px;
}
.result_test_item_variants li:nth-child(1)::before { content: 'A)'; }
.result_test_item_variants li:nth-child(2)::before { content: 'B)'; }
.result_test_item_variants li:nth-child(3)::before { content: 'C)'; }
.result_test_item_variants li:nth-child(4)::before { content: 'D)'; }
.result_test_item_variants li:nth-child(5)::before { content: 'E)'; }
.result_test_item_variants li:nth-child(6)::before { content: 'F)'; }
.result_test_item_variants li:nth-child(7)::before { content: 'G)'; }
.result_test_item_variants li:nth-child(8)::before { content: 'H)'; }
.result_test_item_variants li:nth-child(9)::before { content: 'I)'; }
.result_test_item_variants li:nth-child(10)::before { content: 'J)'; }
.result_test_item_variants li:nth-child(11)::before { content: 'K)'; }
.result_test_item_variants li:nth-child(12)::before { content: 'L)'; }
hr{
    width: 100%;
}

.photoFileUploader{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    .nav-item a{
      display: flex;
      align-items: center;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link{
      border: none;
      border-bottom: 3px solid;
    }
    .nav-tabs{
      justify-content: flex-end;
    }
    .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 18px 0px;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
      display: flex;
      width: 34px;
      justify-content: center;
      align-items: center;
      height: 34px;
      font-size: 18px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #FFFFFF;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      font-weight: normal;
      transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #fileimagePreview{
      background-image: url(/img/file.png);
      background-size: 55%;
      background-position-x: 40%;
  }
  #imagePreview{
      background-image: url(/img/user.jpg);
  }
  #fileimagePreview span{
      position: absolute;
      top: 54px;
      left: 33px;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      width: 66px;
  }
  .sub_title{
      border-bottom: 1px solid #000;
      display: block;
      padding-bottom: 10px;
      width: 100%;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  .input_block_d_flex{
      display: flex;
  }
  .input_block_d_flex .form-group.col-md-6:nth-child(1){
      padding-left: 0;
  }
  .input_block_d_flex .form-group.col-md-6:nth-child(2){
      padding-right: 0;
  }
  .input_switch{
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    width: 38px;
    border-radius: 11px;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .input_switch::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--ab, var(--border));
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transform: translateX(var(--x, 0));
  }
  .input_switch:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    --ab: var(--active-inner);
    --x: 17px;
}
.input_switch:checked::before{
    transform: translateX(var(--x));
}
.input_radio{
    position: absolute;
    top: 3px;
    right: 0px;
}
.mx-datepicker{
    width: 100% !important;
}
.mx-input{
    background: #FFFFFF !important;
    border: 1px solid #D4E2F5 !important;
}
.table_input .mx-icon-calendar{
    display: none;
}
.table_input .mx-input{
    padding: 0 !important;
    text-align: center !important;
    background: transparent !important;
    border: 0px !important;
    box-shadow: none;
}
.input-group.register_date .mx-datepicker .mx-input-wrapper .mx-icon-calendar, .mx-icon-clear {
    color: #acf1c1 !important;
}
.mx-icon-calendar, .mx-icon-clear{
    color: #D4E2F5 !important;
}
.mx-input:disabled, .mx-input.disabled {
    color: #ccc;
    background-color: #f3f3f3 !important;
    border-color: #ccc;
    cursor: not-allowed;
}
.backBtn{
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #3f6ad8;
    padding: 5px 20px;
    line-height: 20px;
}
.backBtn span{
    margin-right: 5px;
}
.input-group-text img {
    height: 20px;
}
.container{
    max-width: 1440px;
}
.main_header{
    background: #ffffff;
    background-color: #ffffff;
    padding: 15px 0px;
    background-color: #fff;
    -webkit-box-shadow: 0px 11px 68px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 11px 68px 0px rgba(0, 0, 0, 0.14);
    width: 100%;
    z-index: 99;
}
.main_header .logo{
    width: 300px;
    display: block;
}
.main_header .logo img{
    width: 100%;
}
.main_header .container{
    display: flex;
    align-items: center;
}
.main_header .menu_list{
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
}
.main_header .menu_list li{
    list-style: none;
}
.main_header .menu_list li a{
    font-size: 15px;
    font-weight: 600;
    margin-right: 55px;
    font-family: "Poppins-Regular";
    color: #000;
    position: relative;
        transition: .3s all ease-in-out;
}
.main_header .menu_list li a:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #032901;
    left: 2px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    bottom: -5px;
}
.main_header .menu_list li > a:hover {
    color: #032901;
}
.main_header .menu_list li > a.active:before,
.main_header .menu_list li > a:hover:before {
    width: 100%;
}
.btn_login{
    line-height: 40px;
    border-radius: 30px;
    background-color: #032901;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins-Regular";
    border: none;
}
.btn_login i{
    margin-right: 10px;
}
.main_header .menu_list li a,
.btn_login:hover{
    text-decoration: none;
}
.btn_login:hover{
    background-color: #275EFE;
    color: #fff;
}
.header_banner{
    background-color: #fafafa;
    padding: 235px 0px 140px 0px;
    background-image: url(/img/banner.png), url(/img/b-shape4.png);
    background-size: 80% 115%, auto 100%;
    background-position: right -115px, left center;
    background-repeat: no-repeat;
    height: 726px;
}
.header_banner .container{
    display: flex;
    justify-content: space-between;
}
.title,
.header_banner .left_item h1{
    font-size: 55px;
    padding: 18px 0px 20px 0px;
    font-weight: 700;
    color: #010101;
    font-family: "Poppins-Bold";
}
.title span,
.header_banner .left_item  h1 span{
    font-weight: 300;
    font-family: "Poppins-Light";
}
.sub_title,
.header_banner .left_item  p{
    font-size: 18px;
    padding-bottom: 35px;
    font-family: "Poppins-Regular";
}
.tender_page,
.about_page,
.contacts_page{
    background-image: url(/img/bs2.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.tender_page .tender_block,
.about_page .about_block{
    padding-top: 3%;
    padding-bottom: 3%;
}
.tender_page .tender_block .sub_title{
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}
.home_page .sub_title{
    max-width: 520px;
}
.tender_page .sub_title{
    max-width: unset;
}
.about_page .about_block .sub_title{
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0;
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
    max-width: 100%;
}
.contact_block{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7%;
}
.input_group_with_label{
    position: relative;
}
.input_group_with_label.input_file{
    height: auto;
    border-radius: .1rem;
    outline: initial!important;
    -webkit-box-shadow: initial!important;
    box-shadow: none!important;
    line-height: 1;
    border: 1px solid #000;
    background: #fff;
    color: #3a3a3a;
    font-family: "Poppins-Regular";
    cursor: pointer;
}
.input_group_with_label input[type="file"]{
    opacity: 0;
    cursor: pointer;
}
.input_group_with_label.input_file p{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    pointer-events: none;
    font-family: "Poppins-Regular";
}
.input_group_with_label select,
.input_group_with_label input{
    height: auto;
    border-radius: .1rem;
    outline: initial!important;
    -webkit-box-shadow: initial!important;
    box-shadow: none!important;
    font-size: .8rem;
    padding: .5rem .75rem;
    line-height: 1;
    border: 1px solid #000;
    background: #fff;
    color: #3a3a3a;
    font-family: "Poppins-Regular";
}
.input_group_with_label label{
    position: absolute;
    cursor: text;
    font-size: 90%;
    opacity: 1;
    top: -.5em;
    left: .75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
    background-color: #fff;
    margin-bottom: 0;
    color: #010101;
    font-family: "Poppins-SemiBold";
    padding: 0px 5px;
}
.input_group_with_label .form-control{
    border: 1px solid #858080;
    background: #fff;
    color: #3a3a3a;
    border-radius: 0px;
    min-height: 40px;
}
.input_group_with_label .form-control:focus{
    border-color: #032901;
}
.btn_blue_bd_0{
    line-height: 40px;
    border-radius: 0px;
    background-color: #032901;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins-SemiBold";
    border: 1px solid #032901;
}
.contact_block .btn_blue_bd_0{
    margin-left: auto;
}
.nav.nav-tabs {
    border-bottom: 0;
}
.lognCard .login-card-body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4f7e3;
}
.lognCard .login-card-body::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/img/uzbbg.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 292px;
    opacity: .3;
}
.jv_login_block{
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    border-radius: .75rem;
    width: 1000px;
    padding: 0;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    max-width: 1000px;
    border:5px solid #cfe6d3;
}
.jv_login_block .flagbg{
     padding: 30px;
     width: 45%;
    background-image: url(/img/logoUz.png);
     background-size: auto 78%;
     background-repeat: no-repeat;
    background-position-y: 55%;
     // background-position: center;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.jv_login_block .flagbg .input_group_with_label{
    max-width: calc(100%  / 3 - 20px);
}
.jv_login_block .flagbg .btns_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.registerCard .jv_login_block .flagbg{
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.registerCard .jv_login_block  .jv_form_block{
    width: 50%;
}
.registerCard .jv_login_block .flagbg::before{
    display: none;
}
.jv_login_block .flagbg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(140 152 148 / 80%);
    z-index: 1;
}
.jv_login_block .flagbg h6{
    font-size: 24px;
    font-weight: 600;
    margin-right: 55px;
    font-family: "Poppins-Regular";
    color: white;
    position: relative;
    z-index: 2;

}
.jv_login_block .flagbg p{
    position: relative;
    z-index: 2;
    font-size: 15px;
    font-weight: 400;
    margin-right: 55px;
    font-family: "Poppins-Regular";
    color: white;
}
.jv_form_block{
    padding: 80px;
    width: 55%;
}
.login-card-body .input-group .form-control,
.register-card-body .input-group .form-control{
    border: 1px solid #858080;
}
.logo_login{
    text-align: center;
    margin-bottom: 30px;
}
.logo_login img{
    max-width: 300px;
}
.jv_login_block .btn_login{

    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15),0 1px 3px 1px rgba(0,0,0,.15)!important;
}
.btn_bd_blue{
    line-height: 36px;
    border-radius: 30px;
    border: 1px solid #032901;
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
    color: #032901;
    font-weight: 600;
    font-family: "Poppins-Regular";
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15),0 1px 3px 1px rgba(0,0,0,.15)!important;
    display: block;
}
.btn_bd_blue:hover{
    text-decoration: none;
    background: #032901;
    color: #fff;
}
.btn_register_block .btn_forgot{
    position: absolute;
    top: -30px;
    font-family: "Poppins-Regular";
    white-space: nowrap;
    color: #032901;
}
.btn_register_block{
    position: relative;
}

.check_box_with_label{

}
.check_box_with_label input{
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
    width: 38px;
    border-radius: 11px;
    min-height: unset;
}
.check_box_with_label input::after{
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
    transform: translateX(var(--x, 0));
}
.check_box_with_label label{
    display: block;
    cursor: pointer;
    margin-bottom: 15px;
}
.check_box_with_label input[type='checkbox']:checked {
    --ab: var(--active-inner);
    --x: 17px;
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}
.input_radio_with_label{
    display: flex;
    align-items: flex-end;
    position: relative;
}
.input_radio_with_label input{
    position: absolute;
    left: 0;
    opacity: 0;
}
.input_radio_with_label label{
    padding:  5px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0;
}
.input_radio_with_label label:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.input_radio_with_label input:checked + label{
    background: #00236D;
    color: #fff;
}
.input_radios_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.input_radios_block p{
    width: 100%;
    font-weight: 700;
    margin-bottom: 0;
}
.ml_auto{
    margin-left: auto;
}
.tenders_list{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}
.tender_card{
    width: calc(100% / 4 - 30px);
    background: #032901;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 30px;
}
.tender_card:nth-child(4n){
    margin-right: 0;
}
.tender_card_header{
    text-align: center;
    padding: 0px;
}
.tender_card_header h5{
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background: #6f42c1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 20px;
}
.tender_card_header h6{
    color: #fff;
    padding: 10px 0px 0px 0px;
}
.tender_card_body{
    background: #fff;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -15px;
}
.card_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card_item h6{
    width: 50%;
    font-weight: bold;
    margin: 0;
}
.card_item p{
    width: 50%;
    text-align: right;
    margin: 0;
}
.tender_card_footer{
    padding: 5px 15px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
    text-decoration: none !important;
}
.tender_card:hover .tender_card_footer{
    background: rgba(0,0,0,.5);
}
.main_header .menu_list li{
    position: relative;
}
.main_header .menu_list li .drop_down_menu{
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0px #ccc;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    z-index: 9;
}
.main_header .menu_list li:hover .drop_down_menu{
    opacity: 1;
    pointer-events: all;
    top: 27px;
}
.main_header .menu_list li .drop_down_menu a{
    margin-right: 0;
    padding: 7px 15px;
    display: block;
}
.main_header .menu_list li .drop_down_menu a:hover{
    background-color: #a5b0c7;
}
.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar::before{
    margin-left: -300px;
}
.alert {
    white-space: nowrap;
}
@media (max-width: 1400px){
    .main_header .menu_list li a{
        margin-right: 20px;
    }
    .header_banner .right_item img{
        width: 100%;
    }
    .header_banner .left_item{
        width: 50%;
    }
    .tender_card{
        width: calc(100% / 3 - 20px);
    }
    .tender_card:nth-child(3n){
        margin-right: 0;
    }
    .tender_card:nth-child(4n){
        margin-right: 30px;
    }
}
@media (max-width: 1250px){
    .main_header .logo{
        width: 260px;
    }
    .btn_login{
        padding-left: 15px;
        padding-right: 15px;
    }
    .card_with_tabs .card-header .passport_tab{
        flex-wrap: wrap;
    }
}
@media (max-width: 1000px){
    .main_header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_banner .right_item,
    .main_header .menu_list{
        display: none;
    }
    .header_banner .left_item{
        width: 100%;
        text-align: center;
    }
    .header_banner .container{
        flex-direction: column;
    }
    .header_banner{
        background-color: #fafafa;
        padding: 140px 0px 140px 0px;
        background-size: contain;
        height: auto;
    }
    .jv_login_block .flagbg{
        display: none;
    }
    .jv_login_block{
        width: auto;
    }
    .jv_form_block {
        width: 100%;
    }
    .tenders_list{
        justify-content: space-between;
    }
    .tender_card{
        width: calc(100% / 2 - 10px);
        margin-right: 0;
    }
    .tender_card:nth-child(3n){
        margin-right: 0px;
    }
    .tender_card:nth-child(4n){
        margin-right: 0px;
    }
    .contact_block{
        flex-direction: column;
    }
    #myTab{
        margin-top: 30px;
        justify-content: center;
        width: 100%;
    }
    .tabRow{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (max-width: 700px){
    .tender_card{
        width: 100%;
    }
    .lognCard{
        height: auto;
    }
    .header_title{
        flex-wrap: wrap;
    }
    .card_with_tabs .card-header.tabCard{
        padding: 30px 0px;
        text-align: center;
    }
    #myTab .nav-item{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 540px){
    .title,
    .header_banner .left_item h1 {
        font-size: 40px;
        padding: 18px 0px 20px 0px;
        font-weight: 700;
        color: #010101;
        font-family: "Poppins-Bold";
    }
    .title{
        font-size: 20px;
    }
    .header_banner .left_item a{
        margin-bottom: 15px;
        margin-right: 0 !important;
        display: block;
    }
    .main_header .logo{
        width: 50%;
    }
    .jv_form_block{
        padding: 30px;
    }
    .add_user_btn{
        flex-wrap: wrap;
    }
}
@media (max-width: 400px){
    .logo_login img{
        max-width: 100%;
    }
}
.nav-pills .nav-link:not(.active):hover,
.nav-pills .nav-link:not(.active):hover .peIcon,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
    color: #fff;
    background: #032901;
}
